@import './map';

$navbarHeight: 64px;
$primary: #607d8b;
$primaryd: #263238;
$primarydd: #1b2328;
$primaryl: #eceff1;

$fontFamilySet: 'Fira Sans', 'PingFang SC', 'Microsoft YaHei UI', sans-serif;

body {
  margin: 0;
  font-family: $fontFamilySet;
}

.spacer {
  flex: 1;
}

[clickable] {
  cursor: pointer;
}

hr {
  margin: 32px 0;
  border-color: rgba(0, 0, 0, .1);
  border-width: 0.5px;
}

.navbar-offset {
  margin-top: $navbarHeight;
}

a {
  color: black;
}

a[target="_blank"] {
  display: inline-flex;
  align-items: flex-end;
  gap: 1px;

  &::after {
    content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCIgd2lkdGg9IjE1cHgiIGhlaWdodD0iMTVweCIgZmlsbD0iI2FhYSI+PHBhdGggZD0iTTUsMTcuNTlMMTUuNTksN0g5VjVIMTlWMTVIMTdWOC40MUw2LjQxLDE5TDUsMTcuNTlaIiAvPjwvc3ZnPg==");
    height: 18px;
    display: flex;
    align-items: center;
  }
}

hr + hr {
  display: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 8px 0;
}

.ant-btn {
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.ant-btn svg {
  height: 60%;
  width: min-content;
}

.describe {
  flex-direction: column;

  > svg {
    height: 100px;
    width: 100px;
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-32 {
  gap: 32px;
}

.full {
  height: 100%;
  width: 100%;
  box-sizing: border-box;

  &.navbar-offset {
    height: calc(100vh - $navbarHeight);
  }
}